<mat-card fxFlex>
    <mat-card-title>
        Formulário de Categorias
    </mat-card-title>

    <mat-card-content>
        <div fxLayout="column" fxLayoutAlign="space-between">
            <mat-form-field>
                <input matInput [(ngModel)]="categoriaNome" (keyup.enter)="salvar()">
                <mat-hint>Digite o nome da categoria</mat-hint>
            </mat-form-field>

            <div fxLayout="row" fxLayoutAlign="end end">
                <button mat-button color="primary" (click)="salvar()">Salvar</button>
                <button mat-button color="warn" (click)="limpar()">Limpar</button>
            </div>
        </div>

        <mat-list>
            <h3 mat-subheader>Lista de Categorias</h3>
            <mat-list-item *ngFor="let categ of categorias">
                <mat-icon mat-list-icon>folder</mat-icon>
                <h4 mat-line>{{categ.nome}}</h4>
                <button mat-icon-button color="primary" (click)="editar(categ)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deletar(categ)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>

    </mat-card-content>
</mat-card>